
/*menu*/

.menu_beplan {
  width: 100px;
  background-color: #252525;
  height: 110px;
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu-ico {
	display: flex;
	flex-direction: column;
}
.fas.fa-bars {
	color: #fff;
	font-size: 2em;
	text-decoration: none;
}
.fas.fa-heart{
	color: #67d2e8;
	font-size: 1em;
	margin-bottom: 0.5em;
	text-decoration: none;
}
.fas.fa-bars:hover {
	color:#7493e8;
	text-decoration: none;
	transition: 0.5s;
	transition-delay: 0.5s;
}
a.menu-ico {
	text-decoration: none;
}
.navbar-default {
	 background-color: transparent;
     border-color: transparent; 
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
    background-color: #2b2b2b;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #252525;
    border-color: #6767ff;
}
.navbar-nav>li>a {
	padding:0;
}
.dropdown-menu { 
	background-color: rgba(62, 62, 62, 0.8);
}

.dropdown-menu>li>a {
	color: #ffffff;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
.dropdown-toggle.menu-ico.flex {
	display: flex;
}
/*seccion slide*/

.beplan-slide {
	padding: 0;
	text-align: center;
}
.beplan-slide-textos {
	padding-top: 15rem;
    padding-bottom: 15rem;
        width: 60%;
}
.carrusel-foto-1 {
	background-image: url(../img/beplan-slide1.jpg);
}
.carrusel-foto-2 {
	background-image: url(../img/beplan-slide1.jpg);
}
.carrusel-foto-3 {
	background-image: url(../img/beplan-slide1.jpg);
}
.carrusel-foto-1, .carrusel-foto-2, .carrusel-foto-3 {
	min-height: 600px;
	background-size: cover;
	width: 100%;
}
.logo-beplan {
	width: 20%;
}
.padding0 {
	padding: 0;
}

h1.titulos-beplan {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 3em;
	border: 1px solid #67d2e8;
    padding: 30px;
    background-color: rgba(103, 210, 232, 0.16);
}

/*seccion1 Service*/
.beplan-service{
	height: 200px;
	display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.beplan-section-tit{
	padding: 40px 0;
}	

.beplan-section-tit h1{
    text-align: center;
    color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
}
.beplan-section-tit p {
	font-size: 1.5em;
	text-align: center;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.beplan-service img {
	pointer-events: none;
	width: 150px;
}

.beplan-service h2 {
	pointer-events: none;
}

	.corporativo {
		background-color: #84ccff;
	}
	.digital {
		background-color: #7493e8;
	}
	.editorial {
		background-color: #67d2e8;
	}

.beplan-service-button :hover{
	text-decoration: none;
	transition:1s;
    background-color: #eaeaea;
}
.beplan-service h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	text-decoration: none;
	padding: 0;
	margin:0;

}
a:hover {
	text-decoration: none;
}
.beplan-service-panel {
	background-color: #eaeaea;
	padding: 34px 0 0 56px;
    line-height: 39px;
}
.triangulo{
	 width: 0;
     height: 0;
     border-right: 30px solid transparent;
     border-top: 30px solid transparent;
     border-left: 30px solid transparent;
     border-bottom: 30px solid #eaeaea;
     margin: 0 auto;
}
.beplan-service-panel ul { 
    list-style-image: url("../icons/bullet.svg");
}
.beplan-service-panel ul li {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}
.beplan-section {
	 padding: 0 0 60px 0;
}
.beplan-section-color {
	background-color: #f7f4f4;
	padding: 0 0 60px 0;
}
.beplan-section-color2 {
	background-color: #dde6ff;
	padding: 0 0 60px 0;
}
.beplan-section-form {
	background-image: url('../img/contacto-bg.jpg');
	background-repeat: no-repeat;
	background-position: right;
	height: auto;
}

@media (max-width: 767px) {
	body {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
	.navbar-nav .open .dropdown-menu { position: absolute; }
	.collapse {display: block;}
	.navbar-nav .open .dropdown-menu {background-color: rgba(62, 62, 62, 0.9);}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {padding: 9px 27px 5px 25px;}
	.flex {display: flex;}
	.beplan-service-panel {margin-bottom: 30px;}
	.beplan-section-tit { padding: 0; }
	.beplan-section-tit h1 { font-size: 1.5em; }
	.beplan-section-tit p { padding: 15px 15px;}
	.logo-beplan {width: 80%;}
	.beplan-section-form {padding: 20px 20px;}
}